.card {
  width: 700px;
  height: 350px;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  h1 {
    font-size: 2.7rem;
  }

  h1,
  .header,
  .author,
  p {
    position: relative;
    z-index: 5;
    text-align: center;
    color: white;
    margin: 0;
  }
  .header {
    font-size: 1.4rem;
  }
  .author {
    align-self: center;
    margin: 0.5rem;
    margin-left: 30%;
    z-index: 10;
    transition: all 0.3s ease;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

.header-wrapper {
  margin-top: 100px;
  transition: margin-top 0.8s 0.1s ease;
}

.description-wrapper {
  margin-top: 170px;
  transition: margin-top 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.6);
  z-index: 2;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.author:hover {
  text-decoration: underline 2px white;
}

@media (max-width: 800px) {
  .card {
    width: 90%;
    height: 300px;
  }
}

@media (min-width: 550px) {
  .card:hover,
  .card:active,
  .overlay:hover,
  .overlay:active {
    cursor: pointer;
    .header-wrapper {
      margin: 1rem;
    }

    .description-wrapper {
      margin-top: 1rem;
    }
    .overlay {
      background: rgba(1, 1, 1, 0.5);
    }
  }
}

@media (max-width: 500px) {
  .card {
    height: 250px;

    h1 {
      font-size: 2rem;
    }
    .header {
      font-size: 1.1rem;
    }
  }
}
