@use '../abstract/index' as *;

.author-card {
  width: 80%;
  min-height: 250px;
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 1px 4px 2px #b7acac;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $author-card;
  border-radius: 4px 20px;
  color: white;

  img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .author-bio {
    p {
      font-size: 1.2rem;
      line-height: 1.4;
      width: 80%;

      margin: auto;
    }
  }
}

@media (max-width: 600px){
  .author-card {
    flex-direction: column;
    img {
      width: 150px;
      height: 150px;
    }
  }
}
