* {
    box-sizing: border-box;
  }

  html {
    font-size: 10px;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    padding: 0;
    padding-top: 40rem;
    margin: 0;
    font-family: Helvetica, sans-serif;
    position: relative;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  span {
    font-style: italic;
  }